* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    height:100vh;
    width:100%;
    font-family: 'Signika Negative', sans-serif;
}


/* REGOLE SIDEBAR ------------------------- */

.sidebar {
    background-color:black;
    color:white;
    height:100%;
    width:150px;
    float:left;
    min-height:400px;
}

.logo-mobile {
    display:none;
}

.logo img {
    width:100%;
}

.sidebar-top {
    height: calc(100% - 100px);
    display:flex;
    flex-direction:column;
}

.menù-list img {
    width:30px;
    vertical-align: middle;
    opacity:0.5;
}

.menù-list a {
    text-decoration: none;
    color:#a3a3a3;
}

.menù-list .border-active {
    border-left:2px solid #94dd25;
}

.menù-list li:hover img, .menù-list li:hover a {
    color:white;
    opacity:1;
}

.playlists {
    overflow-y: auto;
}

.sidebar-bottom {
    height:100px;
}


/* REGOLE MAIN ------------------------ */

main {
    height: calc(100% - 100px);
}

main::after {
    display:table;
    content:"";
    clear:both;
}

.main-container {
    height: 100%;
    width: calc(100% - 150px);
    overflow-y: scroll;
    float:left;
    background-color:#141922;
}

.cta {
    position:fixed;
    height:50px;
    background-color:#080b12;
    width: calc(100% - 150px);
    top:0px;
    right:0;
}

.main-content {
    padding-top:70px;
}

.nav-bar {
    text-align: center;
}

.nav-bar li {
    display:inline-block;
    margin: 0 8px;
}

.nav-bar li a {
    text-decoration: none;
    color:grey;
    font-size:13px;
    padding: 4px 0;
    position:relative;
}

.nav-bar .nav-item .nav-item-active::after {
    content:"";
    height:2px;
    width:40px;
    position:absolute;
    bottom:0;
    left:50%;
    background-color: #94dd25;
    transform:translateX(-50%);
}


/* REGOLE FOOTER--------------------------- */

footer {
    height:100px;
    background-color: #282828;
    position:relative;
}


/* MEDIA QUERY */

@media all and (max-width:600px) {

    .sidebar {
        width:40px;  
    }

    .main-container {
        width: calc(100% - 40px);
    }

    .cta {
        width: calc(100% - 40px);
    }

    .logo-full {
        display:none;
    }

    .logo-mobile {
        display:block;
    }

    .playlist, .playlists {
        display:none;
    }

    .menù-list span {
        display: none;
    }
    
}